.mydiary-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.mydiary-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw;
}

.page-header {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    margin: 20px;
    width: 300px;
}

.diary-form {
    display: flex;
    width: 100%;
    max-width: 85vw;
    gap: 1.5vw;
    justify-content: space-between;
}

.form-left {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1vw;
}

.form-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 350px;
}

.image-preview {
    width: 100%;
    max-width: 40vw;
    height: 40vw;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    margin-bottom: 1vw;
    overflow: hidden;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-upload-button {
    background-color: #333;
    color: white;
    padding: 0.6vw 1.2vw;
    border-radius: 5px;
    cursor: pointer;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    width: 350px;
    max-width: 40vw;
}

.input-field label {
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.input-field input[type="text"],
.input-field input[type="date"],
.input-field select {
    padding: 0.6vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

.review-field {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 18vh;
}

.review-field label {
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.review-field textarea {
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    height: 18vw;
    font-size: 1em;
}

.submit-button {
    padding: 1vw 2vw;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vw;
    align-self: center;
}
