.gunghab-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.gunghab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.page-header {
    background-color: #ffffff;
    padding: 1.5vw;
    margin-bottom: 2vw;
    width: 90%;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.player-cards-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    width: 100%;
    gap: 1.5vw;
    margin-bottom: 3vw;
}

.table-container {
    width: 90%;
    max-width: 85vw;
    height: 550px; /* 화면에 맞추기 위해 줄인 높이 */
    background-color: #ffffff;
    padding: 1.5vw;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
