.login-page-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.google-login-button {
    margin-top: 20px;
}

h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2em;
    color: #333;
}

.button-basic-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
    cursor: pointer;
}
.button-basic-wrapper.lang-ja {
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,'メイリオ','Meiryo','Yu Gothic','Hiragino Kaku Gothic Pro','Hiragino Sans',sans-serif;
}
.button-basic-wrapper.lang-zh {
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,'Microsoft Yahei',sans-serif;
}
.button-contents .button-text{
    display: inline-block;
    vertical-align: top;
}
.button-basic-wrapper::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.button-basic-wrapper:hover {
    background: #f0f0f0;
}
.button-basic-wrapper:hover::after {
    border-color: #222;
}
.button-basic-wrapper:hover .button-icon-wrap {
    border-color: #222;
}
.button-basic-wrapper .button-icon-wrap {
    height: 44px;
    line-height: 44px;
    padding: 0 6px 0 10px;
    border-right: 1px solid #aaa;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.button-contents {
    font-size: 16px;
    line-height: 44px;
    color: #222;
    font-weight: bold;
    padding: 0 31px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.button-contents.button-small-type {
    padding: 0 22px;
}
/*.button-basic-wrapper .buttoniconimage {*/
/*    background: url(${process.env.PUBLIC_URL}/google.png) no-repeat;*/
/*    background-size: 28px 14px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    width: 28px;*/
/*    height: 14px;*/
/*}*/