.mywinrate-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.mywinrate-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw;
}

.page-header {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #ffffff;
    padding: 1vw;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    width: 18vw;
}

.charts-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 60vw;
    gap: 1vw;
    margin-top: 2vw;
    padding-right: 13vw;
}

.chart-item-pie {
    background-color: #ffffff;
    padding: 1vw;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 28%;
    position: relative;
}

.large-chart {
    width: 90%;
    max-width: 70vw;
    max-height: 30vh;
    margin-top: 2vw;
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
