.sidebar {
    width: 20vw; /* 창의 너비에 비례하여 사이드바 크기 설정 */
    max-width: 300px; /* 최대 너비 제한 */
    min-width: 200px; /* 최소 너비 제한 */
    background-color: #6B6F87;
    color: white;
    padding: 20px;
    height: auto;
    overflow-y: auto;
}

.sidebar-logo {
    position: relative;
    width: 100%;
    padding-top: 25%;
}

.responsive-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* 원본 비율 유지 */
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* 활성화된 링크의 스타일 추가 */
.active-link a {
    color: black;
    font-weight: bold; /* 강조 효과를 주기 위해 폰트 굵기 조정 */
}

.user-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-left: 20px;

}

.user-icon {
    width: 40px;
    height: 40px;
}

.user-link {
    list-style: none;
}