.sidebar {
    width: 300px;
    background-color: #6B6F87;
    color: white;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-logo{
    padding-left: -20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-left: 20px;

}

.user-icon {
    width: 40px;
    height: 40px;
}

.user-link {
    list-style: none;
}